# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.eggs/
*.egg-info/
.installed.cfg
*.egg
.tox/
.coverage
.coverage.*
.cache
.scrapy
# IPython Notebook
.ipynb_checkpoints
# pyenv
.python-version
.env
.spyderproject
.ropeproject
.idea
